body {
  background: #f2f2f2;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: 20px auto;
  background: #fff;
}

header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

.subtitle {
  color: #777;
  font-size: 14px;
}

.main {
  display: flex;
}

.content {
  width: 65%;
  padding: 20px;
}

article {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

article h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.date {
  font-size: 12px;
  color: #999;
}

article a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.sidebar {
  width: 35%;
  padding: 20px;
  background: #fafafa;
}

.box {
  margin-bottom: 20px;
}

.box h3 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.box ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #777;
  border-top: 1px solid #ddd;
}

header {
  padding: 40px 20px;
  border-bottom: 1px solid #ddd;

  background-image: url("../img/sunflower.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
}

.profile-box {
  text-align: center;
}

.profile-img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

footer .fiction {
  font-size: 10px;
  color: #aaa;
  margin-top: 4px;
}

.room {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  border-radius: 4px;
}

/* モーダル背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

/* 拡大画像 */
.modal-content {
  display: block;
  margin: 5% auto;
  max-width: 90%;
  max-height: 90%;
}

/* 閉じるボタン */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

